<h2>Launch details</h2>
<ul class="list-group">
  <li class="list-group-item">Flight Number: {{launch.flight_number}}</li>
  <li class="list-group-item">Launch date UTC: {{launch.launch_date_utc}}</li>
  <li class="list-group-item">Launch date localtime: {{launch.launch_date_local}}</li>
  <li class="list-group-item">Success: {{launch.launch_success ? 'Success': 'Failure'}}</li>
  <li class="list-group-item">Launch site: {{launch.launch_site.site_name_long}}</li>
  <li class="list-group-item">Rocket: {{launch.rocket.rocket_name}}</li>
  <li class="list-group-item">Details: {{launch.details}}</li>
  <li *ngIf="launch.telemetry.flight_club" class="list-group-item">
    Telemetry: <a href="{{launch.telemetry.flight_club}}">{{launch.telemetry.flight_club}}</a>
  </li>
  <li *ngIf="launch.links.presskit" class="list-group-item">
    Presskit: <a href="{{launch.links.presskit}}">{{launch.links.presskit}}</a>
  </li>
  <li *ngIf="launch.links.article_link" class="list-group-item">
    Article: <a href="{{launch.links.article_link}}">{{launch.links.article_link}}</a>
  </li>
  <li *ngIf="launch.links.mission_patch_small" class="list-group-item">
    <img src="{{launch.links.mission_patch_small}}">
  </li>
  <li *ngIf="launch.links.video_link" class="list-group-item">
    <app-video [watchLink]="launch.links.video_link"></app-video>
  </li>
</ul>
